/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: '../../node_modules/uswds/src/img';
$theme-font-path: '../../node_modules/uswds/src/fonts';

/*
  The url for the hero image in the source file is not currently prefixed by
  the $theme-image-path above.
*/

$theme-hero-image: '../images/movingtruckhero.jpg';

// Your custom changes to variables go here
// Uncomment to see this working
// $theme-color-primary-darker: 'black';

$theme-show-notifications: false;

@import 'uswds';

// Your custom SASS/CSS goes here
@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

// Hacks to quickly mimic existing move.mil style

.usa-hero {
  background-position: left;
  padding-top: 15rem;
}

.usa-section--light {
    background-color: #ffffff;
}

.homepage-service-section {
  border-top: 0.25rem solid #112e51;
}

.homepage-service-section h3 {
  color: #212121;
}


.service-emblem-list--item a img { 
  height: 100px;
}

.service-emblem-list--item { 
  text-align: center;
  font-weight: 700;
}

.usa-nav__primary button {
  color: #0071bc;
}

.usa-nav__primary {
  > .usa-nav__primary-item {
    > a {
        color: #0071bc;
        }
  }
}

.usa-graphic-list__heading {
  color: #205493;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 3.5rem;
  font-weight: 700;
}
